{% load syndicationstats_customfilters %}

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<table class="details">
    <tr class="header">
        {% if scope == 'masters' %}
        <td>Displaying masters created on the date.</td>
        {% elif scope == 'everything' %}
        <td>Displaying masters and empty projects created on the date.</td>
        {% else %}
        <td>Displaying masters published on the date.</td>
        {% endif %}
        <td><img src="/sitemedia/img/gnmsyndication/guardian_enabled.png" class="inline_medium_icon"><div>Guardian Website</div></td>
        <td><img src="/sitemedia/img/gnmsyndication/mainstream_enabled.png" class="inline_medium_icon">Mainstream Syndication</td>
        <td><img src="/sitemedia/img/gnmsyndication/youtube_enabled.png" class="inline_medium_icon">YouTube</td>
        <td><img src="/sitemedia/img/gnmsyndication/dailymotion_enabled.jpg" class="inline_medium_icon">Daily Motion</td>
        <td><img src="/sitemedia/img/gnmsyndication/facebook_enabled.png" class="inline_medium_icon">Facebook</td>
        <!-- <td><img src="/sitemedia/img/gnmsyndication/spotify_enabled.png" class="inline_medium_icon">Spotify</td> -->
        <td><img src="/sitemedia/img/gnmsyndication/mediawall_enabled.png" class="inline_medium_icon">Media Wall</td>
    </tr>
    {% for item in items %}
        {% if scope == 'masters' %}
        <tr>
            <td><a href="{{ item.url }}"><img width="15" src="/sitemedia/img/gnm/icon_master.png" alt="Master" class="inline_icon">{{ item.title }}</a><br>
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_commission.png" alt="Commission" class="inline_icon">{{ item.gnm_commission_title }}</span>&nbsp;&NonBreakingSpace;
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_project.png" alt="Project" class="inline_icon">{{ item.gnm_project_headline }}</span><br>
                <span>Source: {{ item.gnm_master_generic_source }}</span><br>
                <span class="small" style="vertical-align: top;"><a href="/pacman/{{ item.itemId }}">PAC form status: {{ item.gnm_master_pacdata_status|pacformindicator }}</a></span>
               <span style="vertical-align: top;font-size: 80%;padding-left: 20px;">
                   <script>
                      $(function() {
                        $( "#dialog{{ item.itemId }}" ).dialog({
                          autoOpen: false,
                          width:680,
                          show: {
                            //effect: "blind",
                            //duration: 1000
                          },
                          hide: {
                            //effect: "explode",
                            //duration: 1000
                          }
                        });

                        $( "#opener{{ item.itemId }}" ).click(function() {
                          $( "#dialog{{ item.itemId }}" ).dialog( "open" );
                        });
                      });
                    </script>
                    <a class="hoverlink" id="opener{{ item.itemId }}">Automation: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}</a>
                    <div id="dialog{{ item.itemId }}" title="Syndication Automation Status for {{ item.itemId }}">
                        <strong>{{ item.title }}</strong>
                        <br />
                        <br />
                        Status: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}
                        <br />
                        <br />
                        Mainstream Syndication: {{ item.gnm_mastergeneric_syndication_rule_applied|msinfo }}
                        <br />
                        <br />
                        YouTube: {{ item.gnm_mastergeneric_syndication_rule_applied|ytinfo }}
                        <br />
                        <br />
                        Dailymotion: {{ item.gnm_mastergeneric_syndication_rule_applied|dminfo }}
                        <br />
                        <br />
                        Facebook: {{ item.gnm_mastergeneric_syndication_rule_applied|fbinfo }}
                        <br />
                        <br />
                        Spotify: {{ item.gnm_mastergeneric_syndication_rule_applied|sinfo }}
                        <br />
                        <br />
                        Rule: {{ item.gnm_mastergeneric_syndication_rule_applied|ruleinfo }}
                        <br />
                        <br />
                        Processed At: {{ item.matched_time|displaydateinfo }}
                        <br />
                        <br />
                        Errors: {{ item.gnm_mastergeneric_syndication_rule_applied|automationerrors }}
                        <br />
                        <br />
                    </div>
                </span>
                <br />
                <span style="margin-left: auto; margin-right:0;display: block; padding-top: 5px">
                    <span style="vertical-align: top;">Upload intentions:</span> {{ item.gnm_master_generic_intendeduploadplatforms|platformindicator }}
                </span>
            </td>
            <td>{{ item.gnm_master_website_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_mainstreamsyndication_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_mainstreamsyndication_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_youtube_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masteryoutube_publication_date_and_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_dailymotion_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_dailymotion_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_facebook_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterfacebook_publication_date_and_time|displaydate }}</span></td>
            <!-- <td>{{ item.gnm_master_spotify_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterspotify_publication_date_and_time|displaydate }}</span></td> -->
            <td>{{ item.gnm_mastermediawall_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_mastermediawall_publication_time|displaydate }}</span></td>
        </tr>
        {% elif scope == 'everything' %}
            {% if item.gnm_type == 'Master' %}
        <tr>
            <td><a href="{{ item.url }}"><img width="15" src="/sitemedia/img/gnm/icon_master.png" alt="Master" class="inline_icon">{{ item.title }}</a><br>
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_commission.png" alt="Commission" class="inline_icon">{{ item.gnm_commission_title }}</span>&nbsp;&NonBreakingSpace;
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_project.png" alt="Project" class="inline_icon">{{ item.gnm_project_headline }}</span><br>
                <span>Source: {{ item.gnm_master_generic_source }}</span><br>
                <span class="small" style="vertical-align: top;"><a href="/pacman/{{ item.itemId }}">PAC form status: {{ item.gnm_master_pacdata_status|pacformindicator }}</a></span>
               <span style="vertical-align: top;font-size: 80%;padding-left: 20px;">
                   <script>
                      $(function() {
                        $( "#dialog{{ item.itemId }}" ).dialog({
                          autoOpen: false,
                          width:680,
                          show: {
                            //effect: "blind",
                            //duration: 1000
                          },
                          hide: {
                            //effect: "explode",
                            //duration: 1000
                          }
                        });

                        $( "#opener{{ item.itemId }}" ).click(function() {
                          $( "#dialog{{ item.itemId }}" ).dialog( "open" );
                        });
                      });
                    </script>
                    <a class="hoverlink" id="opener{{ item.itemId }}">Automation: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}</a>
                    <div id="dialog{{ item.itemId }}" title="Syndication Automation Status for {{ item.itemId }}">
                        <strong>{{ item.title }}</strong>
                        <br />
                        <br />
                        Status: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}
                        <br />
                        <br />
                        Mainstream Syndication: {{ item.gnm_mastergeneric_syndication_rule_applied|msinfo }}
                        <br />
                        <br />
                        YouTube: {{ item.gnm_mastergeneric_syndication_rule_applied|ytinfo }}
                        <br />
                        <br />
                        Dailymotion: {{ item.gnm_mastergeneric_syndication_rule_applied|dminfo }}
                        <br />
                        <br />
                        Facebook: {{ item.gnm_mastergeneric_syndication_rule_applied|fbinfo }}
                        <br />
                        <br />
                        Spotify: {{ item.gnm_mastergeneric_syndication_rule_applied|sinfo }}
                        <br />
                        <br />
                        Rule: {{ item.gnm_mastergeneric_syndication_rule_applied|ruleinfo }}
                        <br />
                        <br />
                        Processed At: {{ item.matched_time|displaydateinfo }}
                        <br />
                        <br />
                        Errors: {{ item.gnm_mastergeneric_syndication_rule_applied|automationerrors }}
                        <br />
                        <br />
                    </div>
                </span>
                <br />
                <span style="margin-left: auto; margin-right:0;display: block; padding-top: 5px">
                    <span style="vertical-align: top">Upload intentions:</span> {{ item.gnm_master_generic_intendeduploadplatforms|platformindicator }}
                </span>
            </td>
            <td>{{ item.gnm_master_website_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_mainstreamsyndication_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_mainstreamsyndication_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_youtube_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masteryoutube_publication_date_and_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_dailymotion_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_dailymotion_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_facebook_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterfacebook_publication_date_and_time|displaydate }}</span></td>
            <!-- <td>{{ item.gnm_master_spotify_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterspotify_publication_date_and_time|displaydate }}</span></td> -->
            <td>{{ item.gnm_mastermediawall_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_mastermediawall_publication_time|displaydate }}</span></td>
        </tr>
            {% else %}
        <tr>
            <td><a href="{{ item.url }}"><img width="15" src="/sitemedia/img/gnm/icon_project.png" alt="Project" class="inline_icon">{{ item.title }}</a><br>
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_commission.png" alt="Commission" class="inline_icon">{{ item.gnm_commission_title }}</span>&nbsp;&NonBreakingSpace;
                <br>
                <span style="margin-left: auto; margin-right:0;display: block; padding-top: 5px">
                    <span style="vertical-align: top; border-top: 50px">Upload intentions:</span> {{ item.gnm_project_intendeduploadplatforms|platformindicator }}
                </span>
            </td>
        </tr>
            {% endif %}
        {% else %}
        <tr>
            <td><a href="{{ item.url }}"><img width="15" src="/sitemedia/img/gnm/icon_master.png" alt="Master" class="inline_icon">{{ item.title }}</a><br>
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_commission.png" alt="Commission" class="inline_icon">{{ item.gnm_commission_title }}</span>&nbsp;&NonBreakingSpace;
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_project.png" alt="Project" class="inline_icon">{{ item.gnm_project_headline }}</span><br>
                <!--<span>Source: {{ item.gnm_master_generic_source }}</span><br>-->
                <div class="small">Source:
                    <div class="select2-container select2-container-multi">
                        <ul class="select2-choices" style="border:none; background-color:transparent; background-image: none;">
                            <li class="select2-search-choice">
                                <div>{{ item.gnm_master_generic_source }}</div>
                            </li>
                        </ul>
                    </div></div>
                <span class="small" style="vertical-align: top;"><a href="/pacman/{{ item.itemId }}">PAC form status: {{ item.gnm_master_pacdata_status|pacformindicator }}</a></span>
                <span style="vertical-align: top;font-size: 80%;padding-left: 20px;">
                   <script>
                      $(function() {
                        $( "#dialog{{ item.itemId }}" ).dialog({
                          autoOpen: false,
                          width:680,
                          show: {
                            //effect: "blind",
                            //duration: 1000
                          },
                          hide: {
                            //effect: "explode",
                            //duration: 1000
                          }
                        });

                        $( "#opener{{ item.itemId }}" ).click(function() {
                          $( "#dialog{{ item.itemId }}" ).dialog( "open" );
                        });
                      });
                    </script>
                    <a class="hoverlink" id="opener{{ item.itemId }}">Automation: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}</a>
                    <div id="dialog{{ item.itemId }}" title="Syndication Automation Status for {{ item.itemId }}">
                        <strong>{{ item.title }}</strong>
                        <br />
                        <br />
                        Status: {{ item.gnm_mastergeneric_syndication_rule_applied|automationindicator }}
                        <br />
                        <br />
                        Mainstream Syndication: {{ item.gnm_mastergeneric_syndication_rule_applied|msinfo }}
                        <br />
                        <br />
                        YouTube: {{ item.gnm_mastergeneric_syndication_rule_applied|ytinfo }}
                        <br />
                        <br />
                        Dailymotion: {{ item.gnm_mastergeneric_syndication_rule_applied|dminfo }}
                        <br />
                        <br />
                        Facebook: {{ item.gnm_mastergeneric_syndication_rule_applied|fbinfo }}
                        <br />
                        <br />
                        Spotify: {{ item.gnm_mastergeneric_syndication_rule_applied|sinfo }}
                        <br />
                        <br />
                        Rule: {{ item.gnm_mastergeneric_syndication_rule_applied|ruleinfo }}
                        <br />
                        <br />
                        Processed At: {{ item.matched_time|displaydateinfo }}
                        <br />
                        <br />
                        Errors: {{ item.gnm_mastergeneric_syndication_rule_applied|automationerrors }}
                        <br />
                        <br />
                    </div>
                </span>
                <span style="margin-left: auto; margin-right:0;display: block; padding-top: 5px">
                    <span style="vertical-align: top;">Upload intentions:</span> {{ item.gnm_master_generic_intendeduploadplatforms|platformindicator }}
                </span>
            </td>
            <td>{{ item.gnm_master_website_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_mainstreamsyndication_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_mainstreamsyndication_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_youtube_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masteryoutube_publication_date_and_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_dailymotion_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_master_dailymotion_publication_time|displaydate }}</span></td>
            <td>{{ item.gnm_master_facebook_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterfacebook_publication_date_and_time|displaydate }}</span></td>
            <!-- <td>{{ item.gnm_master_spotify_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_masterspotify_publication_date_and_time|displaydate }}</span></td> -->
            <td>{{ item.gnm_mastermediawall_uploadstatus|syndicationstatus_icon }}<br><span class="small">{{ item.gnm_mastermediawall_publication_time|displaydate }}</span></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>