
<table class="details">
    <tr class="header"><td></td><td>Guardian Website</td><td>Mainstream Syndication</td><td>YouTube</td><td>Daily Motion</td></tr>
    {% for item in items %}
        <tr>
            <td><a href="{{ item.url }}"><img width="15" src="/sitemedia/img/gnm/icon_master.png" alt="Master" class="inline_icon">{{ item.title }}<br>
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_commission.png" alt="Commission" class="inline_icon">{{ item.gnm_commission_title }}</span>&nbsp;&NonBreakingSpace;
                <span class="small"><img width="15" src="/sitemedia/img/gnm/icon_project.png" alt="Project" class="inline_icon">{{ item.gnm_project_title }}</span>
            </a></td>
            <td>{{ item.gnm_master_website_uploadstatus }}<br><span class="small">{{ item.gnm_master_publication_time }}</span></td>
            <td>{{ item.gnm_master_mainstreamsyndication_uploadstatus }}<br><span class="small">{{ item.gnm_master_mainstreamsyndication_publication_time }}</span></td>
            <td>{{ item.gnm_master_youtube_uploadstatus }}<br><span class="small">{{ item.gnm_master_youtube_publication_time }}</span></td>
            <td>{{ item.gnm_master_dailymotion_uploadstatus }}<br><span class="small">{{ item.gnm_master_dailymotion_publication_time }}</span></td>
        </tr>
    {% endfor %}
</table>