{% themeextends "base.html" %}
{% load static from staticfiles %}
{% block title %}Vidispine Library Management{% endblock %}

{% block head %}
<style>
    div.container { margin-left: 8px; overflow: hidden;  }
    div.list_selector_item { display: inline; overflow: hidden }
    span.headline { font-size: 1em; font-weight: bold; }
    span.library_info { font-size: 0.7em; font-weight: normal }
    p.error { color: red; };
</style>
<link rel="stylesheet" href='{% static "codemirror/lib/codemirror.css" %}'>
<script src='{% static "codemirror/lib/codemirror.js" %}'></script>
<script src='{% static "codemirror/mode/xml/xml.js" %}'></script>

<script language="JavaScript">
var selector_page_size=15;
var selector_page=0;

function empty_library_selector()
{
$('#library_selector_container').html("");
selector_page=0;
}

function populate_library_selector()
{
$('#library_selector_loading_indicator').show();

var listArgs = "s="+selector_page_size + "&p="+selector_page;
if($('#id_only_auto_refreshing').is(':checked')){
    listArgs += ";autoRefresh=true";
}

$.getJSON("endpoint/list?"+listArgs)
    .success(function(data){
        str = "<div class=\"list_selector_static\">Total: " + data['total'] + "</div>";
        $.each(data['results'], function(idx,ptr){
            str += "<div class=\"list_selector_item\">";
            str += "<span class=\"headline\">"+ptr['id']+"</span><br>";
            str += "<span class=\"library_info\">Containing "+ptr['hits']+" items</span><br>";
            str += "</div>";
        });
        existing_content = $('#library_selector_container').html();
        $('#library_selector_container').html(existing_content+str);
        $('#library_selector_loading_indicator').hide();
    })
    .fail(function(jqXHR, textStatus, errorThrown){
        $('#library_selector_container').html("<p class=\"error\">" + errorThrown + ": " + textStatus + "</p>");
        selector_page = 0;
        $('#library_selector_loading_indicator').hide();
    });
}

$(document).ready(function() {
    populate_library_selector();
    var search_def_editor = CodeMirror.fromTextArea(document.getElementById('id_search_definition'), {
        lineNumbers: true,
        lineWrapping: true
    });
    var storage_rule_editor = CodeMirror.fromTextArea(document.getElementById('id_storage_rule_definition'), {
        lineNumbers: true,
        lineWrapping: true
    });
});
</script>
{% endblock %}

{% block body %}
<h1>Vidispine Library Management</h1>
<p class="debug">{{ debug_notes }}</p>
<div class="container" style="height: 30%; width=100%; margin-bottom: 20px;" id="top_row">
    <div style="width: 15%; overflow: hidden; float: left" id="search_form_container">
        <ul>
        {{ search_form.as_ul }}
        </ul>
        <button onclick="empty_library_selector(); populate_library_selector();">Update</button>
        <div id="library_selector_loading_indicator" style="display: hidden;">
            <p><img src="/sitemedia/img/gnm/loading.gif" alt="loading...">Refreshing libraries...</p>
        </div>
    </div>
    <div style="width:73%; overflow: hidden; float: right" id="graph_container">
        <pre>graph area</pre>
    </div>
</div>

<div class="container" style="height: 70%; width=100%;" id="bottom_row">
    <div style="width: 15%; overflow: hidden; float: left" id="library_selector_container">
    </div>
    <div style="width:73%; overflow: hidden; float: right" id="config_form_container">
        {% if configuration_form_error %}
        <p class="error">{{ configuration_form_error }}</p>
        {% else %}
        <table>
        {{ configuration_form.as_table }}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}