<div id="GnmLibraryToolSRPanel" style="display:none;">
    <div class="panel-header"><h2>Storage rule information</h2></div>
    <p class="mvlibtool_error" id="">

    </p>
    <span id="mvlibtool_sr_loading">
        <img src="{% static "gnmlibrarytool/load.gif" %}" height="64"><span>Loading...</span>
    </span>
    <form action="/gnmlibrarytool/item/delete/" method="post">
        <input type="hidden" name="itemid" value="{{ item_id }}">
        {% csrf_token %}
        <table id="mvlibtool_sr_info">

        </table>
    </form>
    {% if user.is_superuser %}
        <div class="panel-header"><h2>Available Storage Rules</h2></div>
        <form action="/gnmlibrarytool/item/add/" method="post">{% csrf_token %}
            {% if rules|length %}
                 <select name="rulexml" id="rulexml_selector">
                     {% for rule in rules %}
                        <option value="{{ rule.storagerule_xml_source }}">{{ rule.storagerule_name }}</option>
                     {% endfor %}
                </select>
                <select name="ruleshape" id="ruleshape_selector">

                </select>
                <span id="ruleshape_info" style="display: none; font-size: 0.8em; font-style: italic"></span>
                <input type="hidden" name="itemid" value="{{ item_id }}">
                <input type="submit" value="Apply Rule">
            {% else %}
                <span style="font-size: 0.8em; font-style: italic;">There are no predefined storage rules, so you can't add one to the item.  Go to the Admin interface to change this.</span>
            {% endif %}
        </form>
        <br />
        <br />
    {% endif %}
</div>