<div id="GnmLibraryToolSRPanel">
    <div class="panel-header"><h2>Storage rule information</h2></div>
    <p class="mvlibtool_error" id="">

    </p>
    <span id="mvlibtool_sr_loading">
        <img src="/sitemedia/load.gif" height="64"><span>Loading...</span>
    </span>
    <form action="/gnmlibrarytool/delete/" method="post">
        <input type="hidden" name="itemid" value="{{ item_id }}">
        {% csrf_token %}
        <table id="mvlibtool_sr_info">

        </table>
    </form>
    {% for group in user.groups.all %}
        {% if group.name == 'Admin' %}
        <div class="panel-header"><h2>Available Storage Rules</h2></div>
        <form action="/gnmlibrarytool/addrule/" method="post">
             {% csrf_token %}
             <select name="rulexml">
                 {% for rule in rules %}
                    <option value="{{ rule.storagerule_xml_source }}">{{ rule.storagerule_name }}</option>
                 {% endfor %}
            </select>
            <select name="ruleshape" id="ruleshape_selector">

            </select>
            <input type="hidden" name="itemid" value="{{ item_id }}">
            <input type="submit" value="Apply Rule">
        </form>
        <br />
        <br />
        {% endif %}
    {% endfor %}
</div>