{% themeextends "admin/base_admin.html" %}
{% load i18n datetimeformatting compress staticfiles %}
{% block title %}{% trans 'Edit Storage Rules' %}{% endblock %}
{% block heading %}{% trans 'Edit Storage Rules' %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'gnmlibrarytool/css/rulesadmin.css' %}">
{% endblock %}

{% block content %}
<table class="rulestable">
    {% for rule in rules %}
    <tr>
        <td><a href="{% url gnmlibrarytool:rule-edit rule=rule.id %}">{{ rule.storagerule_name }}</a></td>
        <td><button><a style="color:#ffffff;" href="{%  url gnmlibrarytool:delete-rule rule=rule.id %}">Delete</a></button></td>
    </tr>
    {% endfor %}
</table>
{% if rules|length == 0 %}
    <p class="informative">There are no rules yet defined for application to items.  Why not add one?</p>
{% endif %}
<a href="{% url gnmlibrarytool:rules %}">Add Storage Rule</a>
{% endblock %}