{% themeextends "base.html" %}
{% load i18n datetimeformatting compress staticfiles uploadprofiler_customfilters %}
{% block title %}{% trans 'Upload Speed Profiler' %}{% endblock %}
{% block heading %}{% trans 'Upload Speed Profiler' %}{% endblock %}

{% block head %}
<style>
    p.item_info_text { font-size: 0.8em; }
    p.important { font-weight: bold; font-size: 0.9em; }
    img.inline_icon { padding-right: 8px; width: 15px; vertical-align:center; }
    span.first_q { color: #009933; }
    span.second_q {color: #0066cc; }
    span.third_q {color: #e67300; }
    span.fourth_q {color: #e60000; }
</style>
{% endblock %}

{% block body %}
<script>
    var items_by_commission = {};
    var items_by_project = {};
    var is_filtered = false;

    $(document).ready(function(){
        $('#clear_filter_button').hide();
    });

    function get_item_info(itemid)
    {
        url = "{% url item_info itemid='VX-1' %}";
        n=url.length;
        url = url.slice(0,n-4) + itemid;

        $('#info_'+itemid).empty();
        $('#info_'+itemid).append($('<img>', {'src': '{% static "img/icon-ajax-loader.gif" %}'}));

        $.getJSON(url, function(data){
            console.log(data);
            var video_title=$('<p>',{'class': 'item_info_text important'}).html('<img src="/sitemedia/img/gnm/icon_master.png" class="inline_icon">'+data['title']);
            var video_commission=$('<p>',{'class': 'item_info_text'})
                .append($('<a>', {'onclick': 'commission_filter("'+data['gnm_commission_title']+'");'})
                    .html('<img src="/sitemedia/img/gnm/icon_commission.png" class="inline_icon">'+data['gnm_commission_title']));
            var video_project=$('<p>',{'class': 'item_info_text'}).html('<img src="/sitemedia/img/gnm/icon_project.png" class="inline_icon">'+data['gnm_project_headline']);

            if(! items_by_commission.hasOwnProperty(data['gnm_commission_title'])){
                items_by_commission[data['gnm_commission_title']] = new Array(itemid);
            } else {
                items_by_commission[data['gnm_commission_title']].push(itemid);
            }

            $('#info_'+itemid).empty();
            $('#info_'+itemid).append(video_title);
            $('#info_'+itemid).append(video_commission);
            $('#info_'+itemid).append(video_project);
        });
    }

    function update_averages(commission_name)
    {
        url = '{% url averages %}';
        if(commission_name) url+='?commission='+encodeURIComponent(commission_name);

        $('.avg_display').html($('<img>', {'src': '{% static "img/icon-ajax-loader.gif" %}'}));

        $.getJSON(url, {

        }).success(function(data){
            console.log(data);
            $.each(data, function(index,value){
                if(index.endsWith('avg')){
                    new_key = index.replace('avg','stddev');
                    str = value + " ± " + data[new_key];
                    new_key = index.replace('avg','median');
                    str += "<br><br>Median: " + data[new_key];
                    $('#' + index).html(str);
                } else {
                    $('#' + index).html(value);
                }
            });

        }).fail(function(jqXHR,errorThrown,status){
            console.log(errorThrown);
            $('.avg_display').html($('<img>', {'src': '{% static "img/warning.png" %}'}));
        }).always(function(){

        });
    }

    function commission_filter(commission_name)
    {
        console.log(items_by_commission);

        if(! items_by_commission.hasOwnProperty(commission_name)){
            console.log("ERROR: items_by_commission has no record of '"+commission_name+"'.");
            return;
        }

        var rowdata = items_by_commission[commission_name];
        console.log(rowdata);

        $("tr.data_entry").each(function(){
            //console.log($(this));
            var rowid = $(this).attr('id')
            console.log(rowid);
            if($.inArray(rowid,rowdata)>=0){
                console.log("present!");
                $(this).fadeIn();
            } else {
                console.log("not present :(");
                $(this).fadeOut();
            }
        });

        is_filtered=true;
        $('#current_filter').html("Currently filtering by commission '"+commission_name+"'");
        $('#current_filter').fadeIn();
        $('#clear_filter_button').fadeIn();
        update_averages(commission_name);
    }

    function clear_filter()
    {
        $("tr.data_entry").each(function(){
            $(this).fadeIn();
        });
        is_filtered=false;
        $('#current_filter').fadeOut();
        $('#clear_filter_button').fadeOut();

        $('.avg_display').html($('<img>', {'src': '{% static "img/icon-ajax-loader.gif" %}'}));

        update_averages(null);
    }

</script>
<h1 style="padding: 4px;">Upload profiler - basic data</h1>

<p>
    There are a total of {{ object_list|length }} videos listed here.
</p>

<p>
    <button type="button" onclick="clear_filter()" id="clear_filter_button">Clear filter</button>
    <span style="font-style: italic" id="current_filter"></span>
</p>

<table style="padding: 2em;">
    <thead>
        <tr>
            <td>Master</td>
            <td>Version</td>
            <td><a href="?sort=item_duration">Duration</a></td>
            {% if show_totals %}
            <td><a href="?sort=automation_time">Total time in automation</a></td>
            <td><a href="?sort=manual_time">Total time in manual process</a></td>
            {% endif %}
            <td><a href="?sort=created_time">Created</a></td>
            <td><a href="?sort=version_created_time">Media Added</a></td>
            {% if show_details %}
            <td><a href="?sort=proxy_completed_interval">Proxy interval</a></td>
            <td><a href="?sort=upload_trigger_interval">Upload trigger interval</a></td>
            <td><a href="?sort=page_created_interval">Page created interval</a></td>
            <td><a href="?sort=final_transcode_completed_interval">Final transcode completed interval</a></td>
            <td><a href="?sort=page_launch_guess_interval">Page launch interval (CAPI)</a></td>
            {% endif %}
            <td>Total time taken</td>
            <td><b>Completed time</b></td>
        </tr>
    </thead>
    {% if averages %}
    <tr>
        <td><strong>Minimum values</strong></td>
        <td></td>
        <td id="item_duration__min" class="avg_display">{{ averages.item_duration__min|time_display }}</td>
        {% if show_totals %}
        <td></td>
        <td></td>
        {% endif %}
        <td></td>
        <td></td>
        {% if show_details %}
        <td id="proxy_completed_interval__min" class="avg_display">{{ averages.proxy_completed_interval__min|time_display }}</td>
        <td id="upload_trigger_interval__min" class="avg_display">{{ averages.upload_trigger_interval__min|time_display }}</td>
        <td id="page_created_interval__min" class="avg_display">{{ averages.page_created_interval__min|time_display }}</td>
        <td id="final_transcode_completed_interval__min" class="avg_display">{{ averages.final_transcode_completed_interval__min|time_display }}</td>
        <td id="page_launch_capi_interval__min" class="avg_display">{{ averages.page_launch_capi_interval__min|time_display }}</td>
        {% endif %}
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Average values</strong></td>
        <td></td>
        <td id="item_duration__avg" class="avg_display">{{ averages.item_duration__avg|time_display }}<br>± {{ averages.item_duration__stddev|time_display }}</td>
        {% if show_totals %}
        <td></td>
        <td></td>
        {% endif %}
        <td></td>
        <td></td>
        {% if show_details %}
        <td id="proxy_completed_interval__avg" class="avg_display">{{ averages.proxy_completed_interval__avg|time_display }}<br> ± {{ averages.proxy_completed_interval__stddev|time_display }}</td>
        <td id="upload_trigger_interval__avg" class="avg_display">{{ averages.upload_trigger_interval__avg|time_display }}<br> ± {{ averages.upload_trigger_interval__stddev|time_display }}</td>
        <td id="page_created_interval__avg" class="avg_display">{{ averages.page_created_interval__avg|time_display }}<br> ± {{ averages.page_created_interval__stddev|time_display }}</td>
        <td id="final_transcode_completed_interval__avg" class="avg_display">{{ averages.final_transcode_completed_interval__avg|time_display }}<br> ± {{ averages.final_transcode_completed_interval__stddev|time_display }}</td>
        <td id="page_launch_capi_interval__avg" class="avg_display">{{ averages.page_launch_capi_interval__avg|time_display }}<br> ± {{ averages.page_launch_capi_interval__stddev|time_display }}</td>
        {% endif %}
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Maximum values</strong></td>
        <td></td>
        <td id="item_duration__max" class="avg_display">{{ averages.item_duration__max|time_display }}</td>
        {% if show_totals %}
        <td></td>
        <td></td>
        {% endif %}
        <td></td>
        <td></td>
        {% if show_details %}
        <td id="proxy_completed_interval__max" class="avg_display">{{ averages.proxy_completed_interval__max|time_display }}</td>
        <td id="upload_trigger_interval__max" class="avg_display">{{ averages.upload_trigger_interval__max|time_display }}</td>
        <td id="page_created_interval__max" class="avg_display">{{ averages.page_created_interval__max|time_display }}</td>
        <td id="final_transcode_completed_interval__max" class="avg_display">{{ averages.final_transcode_completed_interval__max|time_display }}</td>
        <td id="page_launch_capi_interval__max" class="avg_display">{{ averages.page_launch_capi_interval__max|time_display }}</td>
        {% endif %}
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    {% for entry in object_list %}
    <tr id="{{ entry.item_id }}" class="data_entry">
        <td>
            <a href="/master/{{ entry.item_id }}" target="_blank">{{ entry.item_id }}</a>
            <div id="info_{{ entry.item_id }}"></div>
            <script>
            $(document).ready(function(){ get_item_info("{{ entry.item_id }}"); });
            </script>
        </td>
        <td>{{ entry.media_version }}</td>
        <td>{{ entry.item_duration|time_display }}</td>
        {% if show_totals %}
        <td>{{ entry.total_time_in_automation|time_display }}<br>
            {{ entry.total_time_in_automation_ratio|floatformat:"1" }}x<br>
            {{ entry.total_time_in_automation|proportion:entry.total_time_taken.seconds }}
        </td>
        <td>{{ entry.total_time_in_manual|time_display }}<br>
            {{ entry.total_time_in_manual_ratio|floatformat:"1" }}x<br>
            {{ entry.total_time_in_manual|proportion:entry.total_time_taken.seconds }}
        </td>
        {% endif %}
        <td>{{ entry.created_time }}</td>
        <td>{{ entry.version_created_time }}</td>
        {% if show_details %}
        <td>{{ entry.proxy_completed_interval_diff|time_display }}<br>
            {{ entry.proxy_completed_interval_ratio|floatformat:"1" }}x<br>
            {{ entry.proxy_completed_interval_diff|proportion:entry.total_time_taken.seconds }}
        </td>
        <td>{{ entry.upload_trigger_interval_diff|time_display }}<br>
            {{ entry.upload_trigger_interval_ratio|floatformat:"1" }}x<br>
            {{ entry.upload_trigger_interval_diff|proportion:entry.total_time_taken.seconds }}
        </td>
        <td>{{ entry.page_created_interval_diff|time_display }}<br>
            {{ entry.page_created_interval_ratio|floatformat:"1" }}x<br>
            {{ entry.page_created_interval_diff|proportion:entry.total_time_taken.seconds }}
        </td>
        <td>{{ entry.final_transcode_completed_interval_diff|time_display }}<br>
            {{ entry.final_transcode_completed_interval_ratio|floatformat:"1" }}x<br>
            {{ entry.final_transcode_completed_interval_diff|proportion:entry.total_time_taken.seconds }}
        </td>
        <td>{{ entry.page_launch_capi_interval_diff|time_display }}<br>
            {{ entry.page_launch_capi_interval_ratio|floatformat:"1" }}x<br>
            {{ entry.page_launch_capi_interval_diff|proportion:entry.total_time_taken.seconds }}
        </td>
        {% endif %}
        <td>{{ entry.total_time_taken.seconds|time_display }}</td>
        <td><strong>{{ entry.completed_time }}</strong></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}