{% themeextends "admin/base_admin.html" %}
{% load i18n datetimeformatting compress staticfiles %}
{% block title %}{% trans 'Grid Integration metadata configuration' %}{% endblock %}
{% block heading %}{% trans 'Grid Integration metadata configuration' %}{% endblock %}

{% block extra_script %}
<script src="{% static 'gnmgridintegration/grid_meta_admin.js' %}"></script>
<style>
    .item_meta_text {
        display: inline-block;
        vertical-align: top;
        //margin-top: 1em;
        margin-left: 1em;
    }
    .item_meta_image {
        width: 240px;
        display:inline-block;
    }
    .item_container {
        border: 1px solid black;
        border-radius: 1em;
        padding: 0.5em;
        background-color: white;
        display: inline-block;
        margin-top: 1em;
    }
    .error {
        color: red;
        margin-top: 1em;
    }

    .result_data_panel {
        display: inline-block;
        margin-top: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        //border-right: 1px solid black;
    }
    .item_meta_container {

    }
    span.result_subheader {
        font-weight: bold;
        font-size: 1.1em;
    }
    .data_field_name {
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<span><a href='{% url gnmgridintegration_new_meta %}'>New...</a></span>
<table>
    <tr>
        <td>Grid field name</td>
        <td>Format string</td>
        <td>Vidispine field ID</td>
        <td>Metadata Type</td>
    </tr>
    {% for entry in object_list %}
    <tr>
        <td><strong>{{ entry.grid_field_name }}</strong></td>
        <td>{{ entry.format_string }}</td>
        <td>{{ entry.vs_field }}</td>
        <td>{{ entry.type }}</td>
        <td><a href='{% url gnmgridintegration_edit_meta pk=entry.pk %}'><img src='{% static "img/icon-metadata-editor.png" %}' style="width: 16px"></a></td>
        <td><a href='{% url gnmgridintegration_delete_meta pk=entry.pk %}'><img src='{% static "delete.png" %}' style="width: 16px"></a></td>
    </tr>
    {% endfor %}
</table>
{% if object_list|length == 0 %}
<p style="text-align: center; font-size: 1.2em"><strong>No metadata fields currently present</strong></p>
{% endif %}

<hr>
<div id="testarea">
    <h2>Test</h2>
    <label for="id_test_itemid">Item ID to test with: </label><input type="text" id="id_test_itemid" name="test_itemid" onchange="test_itemid_changed();">
    <!--<button type="button" onclick="test_go">Go!</button>-->
    <div id="testitem">
        <div style="display: none;" id="testitem_loading">
            <img src="{% static 'gnmgridintegration/load.gif' %}" alt="loading"><br>
            <span class="loading_text">Loading item information...</span>
        </div>
    </div>
    <div id="testresults">
        <div style="display: none;" id="testresult_loading">
            <img src="{% static 'gnmgridintegration/load.gif' %}" alt="loading"><br>
            <span class="loading_text">Loading test result...</span>
        </div>
    </div>
</div>
{% endblock %}