{% themeextends "admin/base_admin.html" %}
{% load i18n datetimeformatting compress staticfiles %}
{% block title %}{% trans 'PLUTO Autopurger Settings' %}{% endblock %}
{% block heading %}{% trans 'PLUTO Autopurger Settings' %}{% endblock %}

{% block extra_script %}
<script src="{% static 'purgemeister/search_param_widget.js' %}"></script>
{% endblock %}


{% block content %}
<script language="JavaScript">

function do_trigger_now()
{
    $('#btn_run_immediate').hide();
    $('#thrb_run_immediate').show();
    $.ajax('trigger',{
        'type': 'PUT',
        //'accepts': 'application/json'
    }).done(function(data, textStatus, jqXHR){
        $('#thrb_run_immediate').hide();
        $('#btn_run_immediate').show();
        $('#results').html('<p class="success">' + data['message'] + '</p>');
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        $('#thrb_run_immediate').hide();
        $('#btn_run_immediate').show();
        console.log(jqXHR.responseText);
        try {
            data =  jQuery.parseJSON(jqXHR.responseText);
            $('#results').html('<p class="error">' + data['message'] + '</p><pre>' + data['trace'] + '</pre>');
        }
        catch(err){
            $('#results').html('<p class="error">' + textStatus + '</p><pre>' + jqXHR.responseText + '</pre>');
        }
    });
}

$(document).ready(function(){

});

</script>

<form method="post">{% csrf_token %}
    <ul>
    {{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit" />
</form>

<div id="field_selector_dialog" title="Select Field">
    <div style="padding-bottom: 1em;">
        <select id="field_group_selector" onchange="field_group_selector_changed();"></select>
        <select id="field_name_selector" onchange="field_name_selector_changed();"></select>
        <img id="thrb_field_selector" src='{% static "img/icon-ajax-loader.gif" %}'>
    </div>
    <div>
        <span id="field_value_input"></span>
    </div>
</div>
{% endblock %}