{% themeextends "admin/base_admin.html" %}
{% load i18n datetimeformatting compress %}
{% block title %}{% trans 'PLUTO YouTube Settings' %}{% endblock %}
{% block heading %}{% trans 'PLUTO YouTube Settings' %}{% endblock %}

{% block content %}
<div class="content">


<form method="POST" action="" id="settings_form">
    {% csrf_token %}
    <table>
        {{ settingsform.as_table }}
    </table>
    <a href="#" onclick="testConnection();">Test connection</a>
    <div id="testResults"></div>
    <input type="submit" value="Save">
</form>

</div><!--.itemcontent -->
{% endblock content %}

{% block inlinejs %}
<script>
/* JavaScript HERE */
function testConnection()
{
    $.post('{% url gnmyoutube:testconn %}', $('#settings_form').serialize())
        .fail(function(jqXHR, textStatus, errorThrown) {
            $('#testResults').html("<p class=\"error\">" + errorThrown + "</p>");
        })
        .success(function(data) {
            $('#testResults').html("<p>Test succeeded.  "+data['count']+" items were found.</p>");
        });

    return false;
}
</script>
{% endblock inlinejs %}