{% themeextends "base.html" %}
{% load logsearch_customtags %}

{% block head %}
<style>
    div.bordered {  border: 1px solid black;  }
    div.floatingpanel { float: left; padding: 0.5em; margin: 0.5em;  width: 25%; height: 33%; }
    div.scrollable { overflow-x: visible; overflow-y: scroll; max-height: 250px; margin-top: 0; }
    label.fieldlabel { display: block; float: none; }
</style>
{% endblock %}

{% block body %}

<div class="header">
    <h1>Search Vidispine Logs</h1>
</div>

{% if search_error %}
<p class="error">{{ search_error }}</p>
{% endif %}
{% if search_results %}
<a onclick="toggleSearchParams();" id="searchToggleButton" style="cursor: pointer;">show search...</a>
<div class="content" id="searchparams" style="display: none;">
{% else %}
<div class="content" id="searchparams">
{% endif %}
    <form method="POST" action="">
        {% csrf_token %}
        <div id="searchcontrols" style="display: block; overflow: hidden">
        <div id="toprow" style="overflow:hidden">
            <div class="floatingpanel">
                {{ search_form.type.errors }}
                <label class="fieldlabel" for="id_name">Job Type</label>
                <div class="scrollable">
                {{ search_form.type }}
                </div>
            </div>
            <div class="floatingpanel">
                {{ search_form.state.errors }}
                <label class="fieldlabel" for="id_name">Job State</label>
                <div class="scrollable">
                {{ search_form.state }}
                </div>
            </div>
            <div class="floatingpanel">
                {{ search_form.sort.errors }}
                <label class="fieldlabel" for="id_name">Sort By</label>
                {{ search_form.sort }}
                <label class="fieldlabel" for="id_sortOrder"></label>
                {{ search_form.sortOrder.errors }}
                {{ search_form.sortOrder }}
            </div>
        </div>
        <div id="bottomrow" style="overflow:hidden">
            <div class="floatingpanel">
                {{ search_form.fromDate.errors }}
                {{ search_form.fromTime.errors }}
                <label class="fieldlabel" for="id_fromTime">Show jobs from</label>
                {{ search_form.fromDate }}&nbsp;&nbsp;{{ search_form.fromTime }}
            </div>
            <div class="floatingpanel">
                {{ search_form.toDate.errors }}
                {{ search_form.toTime.errors }}
                <label class="fieldlabel" for="id_toTime">Show jobs to</label>
                {{ search_form.toDate }}&nbsp;&nbsp;{{ search_form.toTime }}
            </div>

            <div class="floatingpanel">
                {{ search_form.fileNameContains.errors }}
                <label class="fieldlabel" for="id_name">Filename contains</label>
                {{ search_form.fileNameContains }}
            </div>
        </div>
        <div id="bottomrow" style="overflow:hidden">
            <div class="floatingpanel">
                {{ search_form.jobmetadata.errors }}
                <label class="fieldlabel" for="id_name">Metadata search (advanced)</label>
                {{ search_form.jobmetadata }}
            </div>
             <div class="floatingpanel">
                 <label class="fieldlabel" for="id_name">Columns</label>
                 <div class="scrollable">
                    {{ search_form.columns }}
                 </div>
            </div>
        </div>
        </div>
        <div id="buttons" style="display: block; padding: 0.5em; margin: 0.5em;">
            <input type="submit" value="Search">
            <input type="reset" value="Clear">
        </div>

</div>

{% if search_hits %}
<p class="info">Your search returned {{ search_hits }} result{{ search_hits|pluralize }}</p>
<p class="info">Showing results {{ first_result }} to {{ last_result }}
<br />
{% if prev_page > 0 %}
<input type="submit" name="previousthisisauniquename" value="&lt; previous results">
{% endif %}
{% if next_page > 1 %}
<input type="submit" name="nextthisisauniquename" value="next results &gt;">
{% endif %}
</p>
{% endif %}
{% if page == 1 %}
<input type="hidden" name="page" value="1">
{% else %}
<input type="hidden" name="page" value="{{ page }}">
{% endif %}
    </form>
{% if search_results %}
<div class="content" style="overflow: scroll;" id="searchresults">
    <table class="details">
<!--        <tr class="header">
            {% for k,v in search_results.0.items %}
            <td>{{ k }}</td>
            {% endfor %}
        </tr>
        {% for row in search_results %}
        <tr class="{% cycle odd even %}">
            {% for k,v in row.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
-->
        <tr class="header">
            {% if columnsettings.jobId == 'true' %}
            <td id="col_jobId">jobId</td>
            {% endif %}
            {% if columnsettings.status == 'true' %}
            <td id="col_status">status</td>
            {% endif %}
            {% if columnsettings.type == 'true' %}
            <td id="col_type">type</td>
            {% endif %}
            {% if columnsettings.started == 'true' %}
            <td id="col_started">started</td>
            {% endif %}
            {% if columnsettings.priority == 'true' %}
            <td id="col_priority">priority</td>
            {% endif %}
            {% if columnsettings.itemid == 'true' %}
            <td id="col_itemid">item</td>
            {% endif %}
            {% if columnsettings.systemJobModule == 'true' %}
            <td id="col_systemJobModule">systemJobModule</td>
            {% endif %}
            {% if columnsettings.systemJobInfo == 'true' %}
            <td id="col_systemJobInfo">systemJobInfo</td>
            {% endif %}
            {% if columnsettings.destinationStorageId == 'true' %}
            <td id="col_destinationStorageId">destinationStorageId</td>
            {% endif %}
            {% if columnsettings.bestEffortFilename == 'true' %}
            <td id="col_bestEffortFilename">bestEffortFilename</td>
            {% endif %}
            {% if columnsettings.fileId == 'true' %}
            <td id="col_fileId">Source File</td>
            {% endif %}
            {% if columnsettings.replicatedFileIds == 'true' %}
            <td id="col_replicatedFileIds">replicatedFileIds</td>
            {% endif %}
            {% if columnsettings.fileDeleted == 'true' %}
            <td id="col_fileDeleted">fileDeleted</td>
            {% endif %}
            {% if columnsettings.fileStateOnFailure == 'true' %}
            <td id="col_fileStateOnFailure">fileStateOnFailure</td>
            {% endif %}
            {% if columnsettings.filePathMap == 'true' %}
            <td id="col_filePathMap">filePathMap</td>
            {% endif %}
            {% if columnsettings.replicatedFileInfo == 'true' %}
            <td id="col_replicatedFileInfo">replicatedFileInfo</td>
            {% endif %}
            {% if columnsettings.checkReplicatedFiles == 'true' %}
            <td id="col_checkReplicatedFiles">checkReplicatedFiles</td>
            {% endif %}
        </tr>

        {% for row in search_results %}
        <tr class="{% cycle odd even %}">
            {% if columnsettings.jobId == 'true' %}
            <td><b>{{ row.jobId }}</b></td>
            {% endif %}
            {% if columnsettings.status == 'true' %}
            <td>{{ row.status|jobstatus_formatter }}</td>
            {% endif %}
            {% if columnsettings.type == 'true' %}
            <td>{{ row.type|jobtype_formatter }}</td>
            {% endif %}
            {% if columnsettings.started == 'true' %}
            <td>{{ row.started|displaydateinfo }}</td>
            {% endif %}
            {% if columnsettings.priority == 'true' %}
            <td>{{ row.priority }}</td>
            {% endif %}
            {% if columnsettings.itemid == 'true' %}
            <td><a href="/vs/item/{{ row.itemId }}">{{ row.itemId }}</a></td>
            {% endif %}
            {% if columnsettings.systemJobModule == 'true' %}
            <td>{{ row.systemJobModule }}</td>
            {% endif %}
            {% if columnsettings.systemJobInfo == 'true' %}
            <td>{{ row.systemJobInfo }}</td>
            {% endif %}
            {% if columnsettings.destinationStorageId == 'true' %}
            <td>{{ row.destinationStorageId }}</td>
            {% endif %}
            {% if columnsettings.bestEffortFilename == 'true' %}
            <td>{{ row.bestEffortFilename }}</td>
            {% endif %}
            {% if columnsettings.fileId == 'true' %}
            <td>{% if row.sourceFile %}
                <b>File ID</b>: {{ row.sourceFile.id }}<br>
                <b>Storage ID</b>: {{ row.sourceFile.storage }}<br>
                <b>State</b>: {{ row.sourceFile.state }}<br>
                {% else %}
                {{ row.fileId }}
                {% endif %}
            </td>
            {% endif %}
            {% if columnsettings.replicatedFileIds == 'true' %}
            <td>{{ row.replicatedFileIds }}</td>
            {% endif %}
            {% if columnsettings.fileDeleted == 'true' %}
            <td>{{ row.fileDeleted }}</td>
            {% endif %}
            {% if columnsettings.fileStateOnFailure == 'true' %}
            <td>{{ row.fileStateOnFailure }}</td>
            {% endif %}
            {% if columnsettings.filePathMap == 'true' %}
            <td>{{ row.filePathMap|filepathmap }}</td>
            {% endif %}
            {% if columnsettings.replicatedFileInfo == 'true' %}
            <td>{{ row.replicatedFileInfo }}</td>
            {% endif %}
            {% if columnsettings.checkReplicatedFiles == 'true' %}
            <td>{{ row.checkReplicatedFiles }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<script>
    function toggleFilepathDisplay(pathid)
    {
        if($('#'+pathid).is(':visible')){
            $('#'+pathid).fadeOut();
        } else {
            $('#'+pathid).fadeIn();
        }
        console.log($('#'+pathid).class);
    }
    var showSearch=false;
    function toggleSearchParams()
    {
        if(showSearch==false){
            showSearch=true;
            //$('#searchparams').removeClass('invisible');
            $('#searchparams').fadeIn();
            $('#searchToggleButton').html('hide search...');
        } else {
            showSearch=false;
            //$('#searchparams').addClass('invisible');
            $('#searchparams').fadeOut();
            $('#searchToggleButton').html('show search...');
        }
    }
    $(document).ready(function(){
        $("#id_fromDate").datepicker({'dateFormat': 'yy-mm-dd'});
        $("#id_toDate").datepicker({'dateFormat': 'yy-mm-dd'});

    });
</script>
{% endblock %}