<script>
  $(function() {
    $( "#dialog{{ collection }}" ).dialog({
      autoOpen: false,
      width:480,
    });

    $( "#opener{{ collection }}" ).click(function() {
      $( "#dialog{{ collection }}" ).dialog( "open" );
      $( "#dialog{{ collection }}" ).load( "{% url gnmawsgr:request_collection %}?id={{ collection }}" );
    });

    $( "#dialog2{{ collection }}" ).dialog({
      autoOpen: false,
      width:480,
    });

    $( "#opener2{{ collection }}" ).click(function() {
      $( "#dialog2{{ collection }}" ).dialog( "open" );

      var selected = cntmo.app.page.collectionitemresults.getSelectedItemIds();

      $( "#dialog2{{ collection }}" ).load( "{% url gnmawsgr:request_collection %}?id={{ collection }}&selected="+selected+"" );
    });
  });

</script>

<li>
<a id="opener{{ collection }}">Restore from Glacier</a>
</li>
<li>
<a id="opener2{{ collection }}">Restore Selected from Glacier</a>
</li>

<div id="dialog{{ collection }}" title="Restore from Glacier">

</div>

<div id="dialog2{{ collection }}" title="Restore Selected from Glacier">

</div>