<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <font size="+1">
        Item restore not started because a restore job for that item is already underway.
        <br />
        <br />
        Data originally requested by: {{user}}
        <br />
        <br />
        Data originally requested at: {{at}}
        <br />
        <br />
        Current status: {{status}}
    </font>
</body>
</html>