{% themeextends "admin/base_admin.html" %}
{% load i18n datetimeformatting compress staticfiles %}
{% block title %}{% trans 'Glacier Restore system status' %}{% endblock %}
{% block heading %}{% trans 'Glacier Restore system status' %}{% endblock %}

{% block content %}
<table>
    <tr>
        <td>Status</td>
        <td>Requested By</td>
        <td>Item ID</td>
        <td>File Size</td>
        <td>Currently Downloaded</td>
        <td>Delete</td>
    </tr>
    {% for entry in object_list %}
    <tr>
        <td>{{ entry.status }}</td>
        <td>{{ entry.username }}</td>
        <td><a href="/vs/item/{{ entry.item_id }}">{{ entry.item_id }}</a></td>
        <td>{{ entry.file_size|filesizeformat }}</td>
        <td>{{ entry.currently_downloaded|filesizeformat }}</td>
        <td><a href='{% url delete_request pk=entry.pk %}'><img src='{% static "delete.png" %}' style="width: 16px"></a></td>
    </tr>
    {% endfor %}
</table>
{% if object_list|length == 0 %}
<p style="text-align: center; font-size: 1.2em"><strong>No restore requests currently present</strong></p>
{% endif %}
{% endblock %}